<div class="container">
  <div class="callout callout--primary callout-signup">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to get started?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nam
          distinctio minima? Amet aperiam laudantium minus exercitationem.
          Assumenda, nostrum laudantium!
        </p>
      </div>
      <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>
</div>
